.hero-container {
  padding: 12rem 0;
}

.section-wrapper {
  .text {
    margin-bottom: var(--spacing-xs);
  }
}

p {
  color: var(--color--text-medium);
}

.graphic {
  border-radius: 12px;
  border: 1px solid var(--color--border-regular);
  filter: saturate(0);
}

.trusted-by-wrap {
  margin-top: var(--spacing-m);
  text-align: center;

  .smallcaps {
    color: var(--color--text-medium);
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
  }

  .logosWrap {
    .logos {
      display: flex;
      max-width: 420px;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
      align-items: center;

      .logoItem {
        max-width: 120px;
        max-height: 32px;
        margin: 10px;
        filter: grayscale(100%);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 1020px) {
  .section-wrapper {
    display: flex;
    align-items: center;

    .text {
      width: 40%;
      padding-right: var(--spacing-l);
    }

    .visual {
      width: 60%;
    }
  }
}

@media screen and (min-width: 800px) {
  .animate-border {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      border-bottom: solid 2px #000;
      animation: growBorderLeftToRight 1s linear forwards;
    }
  }
}

@keyframes growBorderLeftToRight {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
