.section_pageHeader {
  height: 100vh;
  align-items: flex-end;
}

.imageBg {
  background: url('../images/page-banner-salesforce.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.list {
  ul {
    list-style: none;
    margin: 0;
    display: grid;
    gap: 4px 32px;
    grid: auto/repeat(2, 1fr);
  }
}

.footerCtaForm {
  &::before {
    background-color: #222;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 45%;
  }
}
