.navbar {
  position: absolute;
  z-index: var(--navbar-z-index);
  width: 100%;
  color: #fff;
}

.logo {
  font-family: var(--headingFontFamily);

  &:hover {
    text-decoration: none;
  }
}

.headerContainer {
  display: flex;
  justify-content: center;

  .layoutContainer {
    max-width: var(--layout-max-width);
    width: 100%;
    margin: 0 16px;
  }

  .header {
    height: 60px;
    display: flex;
    align-items: center;
  }
}
